* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  font-family: sans-serif, Arial;
  /* background-color: rgb(233, 233, 200); */
  background-image: url(https://static8.depositphotos.com/1510192/1054/v/950/depositphotos_10548860-stock-illustration-vector-seamless-texture-with-mechanical.jpg);
  /* background-blend-mode: saturation(10%); doesnt work*/
}

#main {
  margin: 30px 15px;
  background-color: #f3f3f3ea;
  border-radius: 20px;
  padding: 30px;
}

/* .header {
    display: flex;
    justify-content: space-around;
    align-items: center; REMOVED FOR NOW DATE = 3-june-22 
  } */

.header #logo {
  margin: 10px;
  /* padding-bottom: 20px; */
  height: 50px;
  min-height: 50px;
  width: 150px;
  min-width: 100px;
}

.header #title {
  /* margin: 20px auto; */
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  margin: 10px 10px 25px 10px;
  color: #006039;
  font-size: 5vh;
}

/* .subtitle {
   text-align: center;
   padding-bottom: 20px;
   font-weight: 550;
   font-style: oblique;
   word-spacing: 0.9px;
  } OFF FOR NOW DATE= 3-june-22 */

#img-div img {
  display: block;
  height: auto;
  max-width: 100%;
  margin: 0 auto;
  width: 100vh;
  border-radius: 20px;
  box-shadow: 0 0 15px 1px #265c26;
}

#img-caption {
  margin: -20px auto;
  max-width: 100% !important;
  /*!important = both max-width and width will prevent the background-color to overflow */
  width: 100vh !important;
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  background-color: #006039;
  border-radius: 0 0 30px 30px;
  padding: 30px 0 10px 0;
  box-shadow: 0 0 15px 1px #265c26;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

#tribute-info h3 {
  padding-top: 5vh;
  padding-bottom: 20px;
  color: rgb(11, 11, 11);
}

#tribute-info,
#tribute-info-2 {
  margin: 0 auto;
  padding: 40px;
  text-align: justify; /*justified text can present and issue to accesibility, it is recommended not to use it for websites, yes for printing (4 example)*/
  line-height: 20px;
}

#tribute-info-2 > h2 {
  color: rgb(11, 11, 11);
  padding-bottom: 30px;
  text-align: center;
}

#tribute-heading {
  color: rgb(44, 44, 44);
  text-align: center;
  margin: 10px;
  padding: 5px;
  font-size: 2.2vh;
}

#tribute-link {
  /* color: #265C26; */
  color: #006039;
  cursor: pointer;
}

#tribute-link:hover {
  color: #a37e2c;
}

@media (max-width: 844px) {
  #main {
    margin: 20px 10px;
  }

  .header #logo {
    height: 40px;
    min-height: 50px;
    width: 70px;
    min-width: 50px;
  }

  .header #title {
    margin-bottom: 20px;
    text-align: center;
    font-size: 3.5vh;
  }

  #img-caption {
    font-size: 1.4vh;
  }

  #tribute-info,
  #tribute-info-2 {
    margin: 0 auto;
    padding: 40px 5px 30px 5px;
    text-align: justify;
    line-height: 20px;
  }

  #tribute-heading {
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-size: 2vh;
  }
}
